.project-section {
    min-height: 100vh;
    padding-top: 70px;
}

.dynamic-div {
    display: inline-block; /* Set display to inline-block */
}

.project-level-text-size{
    font-size: 13px; /* Adjust font size for smaller screens */
    color: #4c4c4c;
    font-style: normal;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

.project-img{
    height: 170px;
    width: auto;
}

/** No custom style needed for this section **/
/** Mobile View **/
@media only screen and (max-width: 768px) {

}

/** Desktop View **/
@media (min-width: 768px) {
    #titleProjects{
        display: none;
    }
}